{% extends "myapp/base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href={% static "myapp/css//style-administrar-usuarios.css" %} />
<script src={% static "myapp/jquery/script-administrar-usuarios.js" %}></script>
{% endblock %}

{% block buscador %}
{% endblock %}

{% block mostrando %}
<div class="container">
	<div class="fondo">
		<ul id="listaUsuarios">
		</ul>
		<a href={% url 'crear_usuario' %} id="crearUsuario" type="button" class="btn btn-primary">Añadir usuario</a>
	</div>
</div>
{% endblock %}